.postbox-main {
  background-color: antiquewhite;
  /* width: 80rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  /* padding-bottom: 2rem; */
  padding: 0 2rem;
  /* border: solid 0.5rem green; */
  padding-bottom: 2rem;
  background: linear-gradient(
    50deg,
    rgba(255, 255, 255, 0.4) 12%,
    rgba(255, 255, 255, 0.1) 77%
  );

  box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 2rem;
  /* display: non; */
}

/* 
hotpink: #f0016f
hotpink2 :#ee73f8
green: #1fe95b
green2 :#7af22b */

textarea{
  width: 80rem;
  height: 8rem;
  resize: none;
}
textarea,
textarea:focus {
  font-family: Arial, sans-serif;
  
  border: none;
  outline: 2px solid #a9b7a0;
  /* border-color: #fc6736; */
}

.toolbox {
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column;
}
.ins {
  font-size: 1.5rem;
  /* color:#7af22b ; */
  font-weight: bolder;
  margin-bottom: 1rem;
  /* justify-self: right; */
}
.warning {
  color: red;
  font-weight: bold;
  font-size: 1.3rem;
}

textarea {
  padding: 2rem;
  border: none;
  font-size: 2rem;
  border-radius: 2rem;
}
.postbox-main-postbox {
  display: flex;
  justify-content: space-between;
}

.postbox-main-toolbox {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
select,
.file-input-label {
  background-color: #fc6736;
  color: white;
  height: 3rem;
  cursor: pointer;
  border: none;
}

input[type="file" i] {
  background-color: green;
  cursor: pointer;
}
.file-input-label {
  border: none;
  /* border-radius: 3rem */
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.2rem;
}

/* Hide the actual file input */
.file-input {
  display: none;
}

.title {
  width: 100%;
  flex-grow: 1;
}
.selected {
  background-color: antiquewhite;
}

.title-select {
  font: italic normal 2rem/1.3 "Brush Script";
  letter-spacing: 3px;
  color: #fc6736;
}

@media(width <60em){ 
  
  .postbox-main{
    /* width: 100%; */
    /* left: 2rem; */
  }
  textarea{
    width: 25rem;
  }

}  

textarea::-webkit-scrollbar {
  /* width: .3rem; */
  display: none;
}

